.search-input-container {
  display: flex;
  width: 100%;
  position: relative;
}

.header-search-bar-container {
  position: relative;
}

.search-results-container {
  background-color: var(--white);
  box-shadow: 2px 2px 2px 2px var(--gray);
  position: absolute;
  top: calc(3 * var(--spacing-unit));
  width: 100%;
  left: 0;
  z-index: 1000;
}
.search-results-container > a > div {
  padding: calc(0.7 * var(--spacing-unit));
  color: var(--black);
}
