.carousel-container {
  padding: 1rem;
  /* box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--gray); */
  border-style: solid;
  border-color: var(--gray);
  border-width: 0.01rem;
}
/* .carousel-item-container {
  width: 80%;
} */
.carousel-item-container > img {
  width: 50% !important;
}
.carousel-item-container {
  height: 100%;
}
.control-next,
.control-prev {
  background-color: var(--white) !important;
  box-shadow: 1px 1px 1px 0 var(--gray);
  color: var(--black) !important;
}
.control-next {
  box-shadow: 0 1px 1px 1px var(--gray);
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000 !important;
}
.slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.carousel-item-container > :nth-child(2) {
  padding: 0.2rem;
  /* background-color: var(--orange) !important; */
  bottom: -0.5rem !important;
  opacity: 1 !important;
  border-radius: 0.2rem !important;
  font-size: calc(var(--font-unit) * 3);
}
.carousel-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
}

.carousel-item-container > h2 {
  font-weight: bolder;
}

.carousel-item-container > .legend {
  transition: all 100s ease-in-out !important;
}
