:root {
  --primary: #2874f0;
  --secondary: #f8e831;
  --orange: #f7a200;
  --white: #fff;
  --black: #000;
  --gray: rgb(0 0 0 / 16%);
  --app-light-gray: #b2b2b2;
  --app-dark-gray: #172337;
  --app-dark-white: #8a8a8a;
  --app-light-white: #e0e0e0;
  --app-pale-gray: #9c9999;
  --app-deep-gray: #6d6d6d;
  --app-pale-white: #eee;
}

.color-blue {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #172337;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
