.category-container {
  display: flex;
  background-color: var(--white);
  padding: 0.3rem;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  flex-wrap: wrap;
}
.category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.category > :nth-child(2) {
  text-transform: capitalize;
}
.category-container > a {
  color: var(--black);
}
